<%# Универсальный паршиал отображения ошибок валидации любой модели %>
<% errors = model.errors %>

<% if errors.any? %>
  <div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="lead buffer-bottom">
      В вашей форме <%= errors.count %> ошибок
    </div>

    <ul class="list-unstyled">
      <% errors.full_messages.each do |message| %>
        <li><%= image_tag('triangle-right.svg') %> <%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
