<%# Паршал для вывода отдельной фотографии %>
<div class="event-photo">

  <% photo_title = "#{t('.added')} #{render partial: 'users/user', object: photo.user}" %>
  <% if current_user_can_edit?(photo) %>
    <% photo_title << link_to(
          fa_icon('trash'), event_photo_path(photo.event, photo),
          method: :delete, data: {confirm: t('.destroy_confirm')}
        ) %>
  <% end %>

  <%= link_to image_tag(photo.photo.thumb.url, class: "photo buffer-both"), photo.photo.url, data: {
    lightbox: "event-gallery",
    title: photo_title
  } %>
</div>
